name: Update Googlesheet

on:
  schedule:
    - cron: "*/5 * * * *"
  workflow_dispatch:
    

jobs:
  update_sheet:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"
          

      - name: Install dependancies
        run: pip install -r requirments.txt

      - name: Run script
        env: 
          GOOGLE_CREDENTIALS: ${{ secrets.GOOGLE_CREDENTIALS }}
        run: python main.py

  